$primary: rgb(97, 0, 194);
$light-primary: rgb(176, 127, 224);
$dark: rgb(25, 24, 23);
$light-dark: rgb(33, 32, 30);
$gray: rgb(150, 150, 150);
$dark-gray: rgba(63, 63, 63, 0.7);
$white: rgb(255, 255, 255);
